version: "3.9"

services:
  backend:
    build: ./backend
    container_name: recipe-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: recipe-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
